/research/output/
/venv/
/models/20180402-114759.pb
/models/model-20180402-114759.ckpt-275.data-00000-of-00001
/models/model-20180402-114759.ckpt-275.index
/models/model-20180402-114759.meta
/input/Andrew/
!/input/Andrew/README.md
/input/Chase/
!/input/Chase/README.md
/models/my_classifier.pkl
